<%= form_for(@uploader,html: {multipart: true}) do |f|  %>

    <% if @uploader.errors.any? %>
      <% @uploader.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    <% end %>

  <%= f.label :image  %>
  <%= f.file_field :image  %>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>
<br>

<%= link_to "写真一覧に戻る",uploaders_path %>
