
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>写真一覧</h1>
    <%= link_to"写真を投稿する",new_uploader_path %>
    <% @uploaders.each do |uploader| %>
      <div class="row">
        <p><%= image_tag uploader.image.url %></p>
        <p>ユーザ名:<%=@users.find(uploader.user_id).name %></p>
        <%=link_to"写真を編集する",edit_uploader_path(uploader.id) %>
        <%=link_to"写真を削除する",uploader_path(uploader.id), method: :delete, data: {confirm: '本当に削除しますか？'}  %>
      </div>
    <% end %>
  </div>
</div>
